<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digital Dipole</title>

    <!-- TOASK: where should assets actually be kept given that FE and BE same dir-->
    <link rel="icon" href="/static/assets/atom-thin-WEBdHcFc.svg"/>
    <script>
      var username = "{{ username }}";
    </script>
    <script type="module" crossorigin src="/static/assets/index-D2Z5xL0p.js"></script>
    <link rel="stylesheet" crossorigin href="/static/assets/index-CBomFGAw.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
