/* TODO fix scrolling viewport - we don't want scrolling of the main page */
/* TODO check centering of dashline */

/* .form-control.sb {
  font-size: 0.9rem !important;
  background-color: #908E8E !important;
  color:rgba(241, 240, 240, 0.805) !important;
  border: 1.5px solid #628ab2 !important;
  border-radius: 2rem !important;
}

.form-control:focus {
  background-color: #a7a7a7 !important;
  color:rgba(241, 240, 240, 1) !important;
  box-shadow: 0 0 2rem 2rem #45008440 !important;
} */

.calc-sub-card {
  min-height: 19rem !important;
}

.calc-submit {
  display: grid;
  grid-template-columns: 1fr !important;
  grid-template-rows: auto !important;

}

/* .calc-instruct {
  margin-top: -4rem !important;
  margin-left: -1rem !important;
} */

.j-self-end {
  justify-self: end;
  vertical-align: middle;
}

.j-self-center {
  justify-self: center;
}

.a-self-center {
  align-self: center;
  justify-self: center;
}

.accordion-item {
  border: none !important;
}

.accordion-button:not([aria-expanded="true"]) {
  background-color:  rgba(123, 0, 255, 0.63) !important;
  color: rgba(255, 255, 255, 0.8)
}

.accordion-button[aria-expanded="true"] {
  /* border: 1px -webkit-focus-ring-color !important; */
  box-shadow: 0 0 0.75rem 0.5rem #544bcd73 !important;
  background-color:  rgba(152, 52, 197, 0.8) !important;
  color: rgba(255, 255, 255, 1)
}

.calc-float {
  border-radius: 8px !important;
  width: 14rem;
}

.calc-float-label {
  color: rgba(250, 250, 250, 0.88) !important;
}

.calc-float-label::after {
  background-color: transparent !important;
}

.calc-float-label {
  font-size: 1.2rem;
}

.calc-float:focus {
  outline: 4px auto -webkit-focus-ring-color;
  box-shadow: 0 0 0.25rem 0.25rem #45008440 !important;
  background-color: rgb(126, 126, 126) !important;
  color: #00d0ff !important;
}

.calc-float {
  /* background-color: #45008440 !important; */
  background-color: rgba(144, 142, 142, 0.75) !important;
}

/* .form-floating:focus > .calc-float-label {
  box-shadow: none !important;
  text-shadow: none !important;
} */

.unknown-dd {
  width: 12rem !important;
}

.gl-calc {
  width: 80vw !important;
}

.calcframe {
  background-color: transparent !important;
}

.calc-tabs button.active {
  color: rgba(255, 255, 255, 1) !important;
}

.calc-tabs button {
  color: rgba(255, 255, 255, 0.84) !important;
}

.calc-tabs button:hover {
  color: rgba(255, 255, 255, 1) !important;
}


.calc-acc {
  width: 95% !important;
  box-shadow: 0.1rem 0.1rem 8px 3px #888;
  margin-bottom: 2rem !important;
}

#search-tip {
  width: 18rem;
}

#hdr-search {
  width: 38rem;
}

.search-tip {
  width: 28rem;
  height: fit-content;
  background-color: #908E8E;
}

#root {
  /* max-width: 1280px; */
  margin:  auto;
  /* padding: 2rem; */
  text-align: center;
  min-height: 100vh;
}

.offC-nav {
  /* background-color: #C2C1C1 !important; */
  background-color: transparent !important;
  /* background-color: #AEADAD !important; */
  width: 100vw;
}

#nav-ref {
  padding-bottom: 0;
  padding-left: 0;
}

#nav-ref + div.dropdown-menu {
  padding-bottom: 0;
  border: none !important;
}

.offC {
  background-color: #908E8E;
  color: rgba(255, 255, 255, 0.96);
  max-width: 18rem;
}

.offC ul {
  padding-left: 3.25rem;
}

.offC li, a {
  color: rgba(255, 255, 255, 0.82) !important;
}

.offC a:hover {
  color:  rgba(255, 255, 255, 1) !important;
}

.offC a.dropdown-item:hover {
  color:darkslategrey !important;
}


.offC hr {
  background-color: #ffffff;
  margin-left: var(--bs-offcanvas-padding-x);
  height: 1.5px;
}

.usr-drp {
  margin: 0rem;
  float: right;
  background-color: #908E8E importat !important;
}

div.dropdown-header {
  padding-left: 0.3rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  color:rgba(241, 240, 240, 0.805)
}

div.dropdown-menu {
  background-color: #908E8E !important;
  max-width: fit-content;
}

div.dropdown-menu a {
  padding-left: 0.75rem;
  padding-right: 0.2rem;
  width: inherit;
}

div.dropdown-menu a:hover {
  background-color: inherit;
}

.sbar-btn, .sbar-btn:hover {
  background-color: transparent;
  border: none;
  margin: 0rem;
}

#navContainer {
  width: 100% !important;
}

.sbar-ico, .usr-ico {
  color: coral;
}

.sbar-ico:hover, .usr-ico:hover {
  /* transform: rotateY(180deg); */
  filter: drop-shadow(0em 0em 0.33em coral);
}

div.landing-container {
  /* height: 100vh; */
  margin: 4rem auto;
  width: 100vw;
  display: flex;
  flex-direction: row;
  place-content: center;
}

div.landing {
  padding: 1rem;
  width: fit-content;
  margin: auto;
  height: fit-content;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* CSSCHECK this is just a temp fix */
img {
  box-sizing: unset;
}

a.anim, nav.offC-nav, hr.w-85 {
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
h1.anim {
  opacity: 0%;
  animation: fadeInAnimation ease 3s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
h2#subtitle {
  opacity: 0%;
  animation: fadeInAnimation ease 2s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
h3.anim {
  opacity: 0%;
  animation: fadeInAnimation ease 2s;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
h2#scaffolds {
  opacity: 0%;
  animation: fadeInAnimation ease 2s;
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
p#user-stat {
  opacity: 0%;
  animation: fadeInAnimation ease 2s;
  animation-delay: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
p.read-the-docs {
  opacity: 0%;
  animation: fadeInAnimation ease 2s;
  animation-delay: 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
p#use {
  opacity: 0%;
  animation: fadeInAnimation ease 2s;
  animation-delay: 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
button#cont {
  opacity: 0%;
  animation: fadeInAnimation ease 2s;
  animation-delay: 8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes logo-spin-CC {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
  a:nth-of-type(1) .logo {
    animation: logo-spin-CC infinite 20s linear;
  }
  a:nth-of-type(3) .logo {
    animation: logo-spin-CC infinite 20s linear;
  }
}

.card-dp {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
